.account{
    background:#fff;
}

.account-content{
    margin: 20px;
    padding-top:20px;
}

.account fieldset{
    border: none;
    padding:0;
}

.account button[type='submit']{
    margin-top:10px;
    margin-bottom:10px;
}

.account h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth{
    box-shadow:0 0 3px rgba(0,0,0,0.3);
}