/* general stuff that should be everywhere */
.text-right{
    text-align:right;
}

.text-left{
    text-align:left;
}

.text-center{
    text-align:center;
}

.strong{
    font-weight:600;
}

.bigger{
    font-size:150%;
}

.smaller{
    font-size:80%!important;
}

@media (max-width:768px){
    .mobile-center{
        display:block!important;
        text-align:center;
    }
}

/*
  Homemade column framework

  Syntax:
  use either the element:
  <col-md-6></col-md-6>

  or the class:
  <div class="col-md-6"></div>
*/

@for $i from 1 through 12{
    col-md-#{$i}{
        display:inline-block;
        float:left;
        vertical-align:top;
    }
}

.clearfix,
clearfix{
    display:block;
    clear:both;
}

@for $i from 1 through 12{
    col-sm-#{$i}{
        display:inline-block;
        float:left;
        vertical-align:top;
    }
}

@for $i from 1 through 12{
    .col-md-#{$i},
    .col-sm-#{$i}{
        width: percentage($i/12);
    }

}
@for $i from 1 through 12{
    col-md-#{$i},
    col-sm-#{$i}{
        width: percentage($i/12);
    }
}

@media (max-width:768px){
    @for $i from 1 through 12{
        col-md-#{$i}{
            display:block;
            width:100%;
        }
    }
}

.hidden{
    display:none;
}

@media (max-width:768px){
    .sm-hide{
        display:none!important;
    }
}

.inline-block{
    display:inline-block;
    vertical-align:top;
}

span.spacer{
    width:30px;
}

.float-left{
    float:left;

}

img.float-left{
    margin-right: 20px;
}

fieldset{
    border:none;
}