.text-cell-type{
    margin:10px;
    padding-bottom:5px;
    .livecalc-go-button{
        margin:10px;
    }
    .default-content{
        display:none;
    }
    textarea{
        border:none;
        font-size:16px;
        min-height:120px;
        padding:10px;
        margin-bottom:20px;
        resize:vertical;
        width:90%;
        width:calc(100% - 20px); /* margin, padding */
        &.hidden{
            display:none;
        }
    }
    .tct-viewer{
        margin:0;
        font-size: 19px;
        line-height: 20px;
    }
}

.text-cell{
    &[data-state='editing']{
        button[name='tct-edit']{
            display:none;
        }
    }
    &[data-state='not-editing']{
        .tct-editor{
            display:none;
        }
    }
}