/* Chat */

livechat{
    background:#fff;
    position:relative;
    height:50%;
    display:block;
}

.livechat-sent-message,
.livechat-received-message{
    width:100%;
    width:calc(100% - 15px); /* padding */
    word-wrap: break-word;
    margin-bottom:5px;
    margin-top:5px;
    padding:10px;
    border-radius:10px;
}

.livechat-received-message{
    color:$color_2;
    background:#eee;
    border-top-left-radius:0;
}

.livechat-sent-message{
    color:$color_2;
    background:$color_5;
    border-bottom-right-radius:0;
}

livechat .header{
    padding:5px;
    background: $color_3;
}

livechat .header h3{
    color:#fff;
    font-size:15px;
}

livechat button{
    position:absolute;
    bottom:0px;
    right:10px;
}

livechat textarea{
    position:absolute;
    bottom:10px;
    left:5px;
    height:40px;
    max-height:40px;
    padding:5px;
    border:none;
    font-size:13px;
    background:#eee;
    resize:none;
}

livechat .message-log{
    overflow-y: scroll;
    overflow-x:hidden;
    max-height:100%;
    padding-left:5px;
    padding-right:15px;
}

livechat .sender{
    font-size:10px;
    text-align:right;
}
