.dashboard{
    padding:30px;
    background:#fff;
    box-shadow:0 0 3px rgba(0,0,0,0.3);
    margin:20px;


    .list{
        table{
            width:100%;
            border-collapse:collapse;
        }
        
        button.delete{
            background:$error_color;
        }
        a.run,
        button{
            margin:0 10px;
            text-decoration:none;
        }

        td{
            margin:0;
            padding:10px;
        }
        
        tr:nth-child(2n+1){
            background:#eee;
            padding-left:10px;
        }
    }
}

a.account-settings-link{
    margin-left:30px;
}