header .links a{
    margin:0px 10px;
}

header h1{
    line-height:19px;
    font-family: 'Fira Sans';
    font-weight:300;
}

@media (max-width:768px){
    header h1{
        text-align:center!important;
        display:block!important;
    }
}

header h1 a{
    color:#fff;
}

@media (max-width:500px){
    h1{
        margin:10px;
        margin-top:20px;
        display:block!important;
        text-align:center;
    }
}

header{
    background:$color_2;
    color:#fff;
    width:100%;
    display:block;
    padding-top:4px;
    padding-bottom:4px;
    border-bottom:3px solid $color_3;
    position:relative;
    z-index:100;
}

@media (max-width:500px){
    header .col{
        display:block;
        width:100%;
    }
}

header a{
    color:$color_5;
    text-decoration:none;
}

header button{
    margin:0;
    padding:10px 12px;
    margin-top:6px;
    height:auto;
    border-radius:3px;
    border:2px solid $body_bg;
}

.new-sheet-button{
    color:#fff;
    margin-right:20px;
}

@media (max-width:1250px){
    .new-sheet-button button{
        font-size:11px;
        margin-top:8px
    }
}

.new-sheet-button button{
    word-wrap: nowrap;
}

@media (max-width:768px){
    .new-sheet-button{
        margin-right:0;
    }
    header{
        padding-bottom:20px;
    }
}

