header .links a{
    margin:0px 10px;
}

header h1{
    line-height:19px;
    font-family: 'Fira Sans';
    font-weight:300;
}

header p{
    margin:15px 20px;
}

header h1 a{
    color:#fff;
}

@media (max-width:768px){
    header h1{
        font-size:19px;
        text-align: center;
        margin-top: 17px;
        margin-left: 20px;
    }
}

header{
    background:$color_2;
    color:#fff;
    width:100%;
    display:block;
    padding-top:4px;
    padding-bottom:4px;
    position:relative;
    z-index:100;
    min-height: 53px;
}

@media (max-width:768px){
    header{
        min-height: 0;
    }
}

header a{
    color:$color_5;
    text-decoration:none;
}

header button{
    margin:0;
    padding:10px 12px;
    margin-top:6px;
    height:auto;
    border-radius:3px;
    border:2px solid $body_bg;
}

.new-sheet-button{
    color:#fff;
    display:inline-block;
    margin-right:20px;
}

@media (max-width:1250px){
    .new-sheet-button button{
        font-size:11px;
    }
}

.new-sheet-button button{
    word-wrap: nowrap;
}

@media (max-width:768px){
    .new-sheet-button{
        margin-right:0;
    }
}

.header-logo{
    height: 40px;
    margin-right: -6px;
    margin-top: 7px;
    margin-left: 16px;
}

nav{
    text-align:center;
}

nav ul{
    padding:0;
    margin:0;
    background:$color_5;
}

nav li{
    display: inline-block;
    vertical-align:middle;
    padding:0;
    height:30px;
}

nav a{
    text-decoration: none;
    padding:5px 20px;
    height:30px;
    line-height:30px;
    &:hover{
        background:darken($color_5, 10%);
    }
}

$fb_color: #3b5998;

button.fb-login{
    background:$fb_color;

    &:hover{
        background:darken($fb_color,10%);
    }
}