/* landing page */

body.page-landing{
    background:$color_3;
}

.landing{
    max-width:100%;
    word-wrap: break-word;

    .col-inline-block{
        display:inline-block;
        vertical-align:middle;
        float:none;
        margin:0 -4px;
    }

    .screenshot{
        max-width:100%;
        max-width:calc(100% - 60px);
        margin:30px;
        box-shadow:0 0 3px #333;
    }

    button.screenshot-cta{
        background:$color_2;
        margin-bottom:40px;
    }
    
    h1,h2{
        line-height:80px;
        color:#fff;
        font-size:30px;
        font-family: 'Fira Sans';
        font-weight:300;
    }

    .text-block{
        margin-left:20px;
        margin-right:20px;
        padding:40px;
        padding-top:10px;
        background:lighten($color_3,6%);
        margin-bottom:40px;
        img{
            max-width: 239px;
        }

        button{
            box-shadow:0 0 8px rgba(255,255,255,0.3);
        }
    }
}

@media all and (max-width:768px){
    .landing{
        .text-block{
            margin:0;
            padding:20px;
        }
        .text-block img{
            float:none;
            max-width:100%;
        }
        p .MathJax_Display{
            font-size:13px;
            text-align:center;
        }
    }
}

.landing p{
    line-height:150%;
    color:#fff;
    font-size:24px;
    font-family:sans-serif;
    font-family: 'Fira Sans';
    font-weight:300;
}

.landing a{
    color: $color_2;
}

.features{
    background:#eee;
    color:#333;
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom:50px;
    margin-top:40px;
    padding:20px;
    border-bottom:5px solid $body_bg;
}

.features h3{
    text-shadow:none;
}

@media (min-width:1000px){
    .features .block-center{
        width:40%;
        margin:auto;
    }
}

.examples{
    background:lighten($color_3,6%);
    padding:20px;
    margin:0 -10px;
    h1{
        margin-top:0;
    }
    
    p{
        margin:0 20px;
    }
}

@media all and (min-width:768px){
    .examples-row{
        display:flex;
        overflow:hidden;

        .example-wrapper{
            flex:1;
            padding-bottom:70px;
            position:relative;
            
            .button-container{
                position: absolute;
                width:100%;
                bottom:10px;
                left:0;
            }
        }
    }
}

.example-wrapper{
    flex:1;
    background:#fff;
    margin:20px;
}

.example{
    padding:20px;
    padding-bottom:0;
    margin-bottom: 20px;
    p{
        color:#000;
        font-size:16px;
        margin:10px 0;
    }
    
    h3{
        color:$color_2;
    }
}

@media all and (max-width:768px){
    .examples{
        padding-left:0;
        padding-right:0;
        margin-left:0;
        margin-right:0;
    }
}


@media all and (max-width:768px){
    .landing h2{
        line-height:40px;
    }
}