.livecalc-cell{
    margin-top:5px;
    margin-bottom:5px;
    position:relative;
}

.cell-and-button-wrapper{
    .delete-cell-button{
        position:absolute;
        cursor:pointer;
        top:-10px;
        right:-10px;
        opacity:0.1;
        transition:all 0.3s;
        &:hover{
            opacity:1;
            transform:rotate(90deg); /* oh yeah! */
        }
    }

    /* last cell can't be deleted anyway */
    &:last-child .delete-cell-button{
        display:none;
    }
}

.livecalc-cell .text-part{
    background:#fff;
    color:#000;
    padding:10px;
    padding-left:20px;
    font-family:monospace;
    font-size:13px;
    cursor:pointer;
}

.livecalc-cell .math-part,
.livecalc .livecalc-header{
    background:$color_4;
    padding-top:5px;
    padding-bottom:5px;
}

.livecalc-cell .math-part{
    max-width:100%;
    overflow-x:hidden;
}

.livecalc fieldset{
    border:none;
    margin:0;
    padding:0;
    padding-top:5px;
    max-width:100%;
    overflow:hidden;
}

.livecalc .livecalc-input{
    max-width: 100%;
    width: calc(100% - 150px);
    margin-left:10px;
    font-size:20px;
    margin-bottom:5px;
    color:#444;
    border:none;
    background:#fff;
    box-shadow:none;
    font-family:monospace;
    overflow-x:hidden;
}

.livecalc-secondary-output,
.livecalc-output{
    margin-top:5px;
    margin-left:10px;
    margin-bottom:5px;
    margin-right:10px;
    min-height:20px;
    background:#fff;
    font-size:20px;
    padding:10px;
    border-radius: 2px;
    max-height:100px;
    max-width:90%;
    width:90%;
    max-width:calc(100% - 40px);
    width:calc(100% - 40px);
    overflow-y:scroll;
}

.livecalc-secondary-output{
    min-height:0;
    font-size:10px;
    margin-top:10px;
}

.livecalc-go-button{
    height:32px;
    margin:0;
    margin-left:10px;
    width:100px;
    border-radius:0;
    border:none;
    padding:5px;
    background:$color_2;
    color:#eee;
    border-bottom:2px solid $body_bg;
}

.livecalc .cell-state,
.livecalc .users-info{
    font-size:11px;
    margin:5px;
    margin-left:10px;
}

.livecalc .plot{
}

.livecalc .plot .livecalc-wait-click,
.livecalc .plot svg,
.livecalc .plot canvas{
    background:#fff;
    margin:auto;
    display:block;
}

.livecalc-wait-click{
    max-width:400px;
    text-align:center;
    padding:10px;
    padding-bottom:2px;
    border-radius:2px;
}

.livecalc-wait-click-button{
    margin-bottom:0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.livecalc-header{
    text-align:left;
    font-size:14px;
    color:darken($color_3, 20%);
}

.livecalc-header .sheet-state{
    margin-left:10px;
}

.livecalc-header .user-info{
    padding-right:10px;
}

livecalc{
    overflow-x:hidden;
}

.panel{
    background:$color_4;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.livecalc-sharing a{
    margin-right:10px;
}

.add-cell-button{
    margin-top:5px;
    .inner{
        background:darken($color_4,10%);
        border-radius:3px;
        width:20px;
        margin:auto;
        color:#fff;
        line-height:5px;
        cursor:pointer;
        transition: line-height 0.1s;
        &:hover{
            background:darken($color_4,20%);
            line-height:15px;
        }
    }
}

.MathJax_Preview{
    /* The preview is mostly a visual glitch to users */
    display:none;
}