
.palette{
    height:50%;
    background:#eee;
}

.palette .content{
    margin:5px;
}

.palette button{
    margin-top:5px;
    margin-bottom:0px;
    margin-right:2px;
}

.palette-greek-letters button{
    width:30px;
}

.palette h4{
    line-height:20px;
    margin:0;
    padding:4px;
}