
.palette .content{
    margin-left:10px;
    max-height:100%;
    overflow-y: scroll;
}

.palette-bottom-spacer{
    height:60px;
}

.palette button{
    margin-top:5px;
    margin-bottom:0px;
    margin-right:2px;
}

.palette-greek-letters button{
    width:30px;
}

.palette h4{
    line-height:20px;
    margin:0;
    margin-top:10px;
    padding:4px;
    padding-left:0;
    font-weight:300;
}

.palette p{
    line-height:15px;
    margin-top:8px;
    margin-bottom:0;
}

.palette-numbers button{
    width:percentage(1/4-0.04);
    &.bold{
        font-size:110%;
        font-weight:500;
    }
}

.palette-trigonometry button{
    width:percentage(1/3-0.05);
}

.palette-content,
.palette-numbers .palette-content,
.palette-greek-letters .palette-content{
    text-align:center;
    padding-top:5px;
    padding-bottom:10px;
    box-shadow:0 0 3px #ddd;
    p{
        padding-top:5px;
        &:first-child{
            padding-top:0;
        }
        margin-top:0;
        text-align:left;
        font-weight:300;
        font-size:14px;
        line-height:16px;
    }
}