.sticky-sidebar{
    position:fixed;
    background:#eee;
    height:100%;
    top:0;
    right:0;
    bottom:0;
    z-index:1000;
    box-shadow:0 0 3px rgba(0,0,0,0.15);
}

.page-content{
    transition:width 0.3s;
    .has-no-sidebar &{
        width:100%;
    }
}

@media all and (max-width:768px){
    .page-content{
        width:100%;
    }
    .has-sidebar .page-content{
        display:none;
    }
}

.sidebar-header{
    background:$header_color;
    font-size:12px;
    padding:3px;
    text-align:left;
}

.sidebar-header h3{
    color:#fff;
}

@media all and (min-width:768px){
    .page-sheet.has-sidebar header,
    .page-sheet.has-sidebar nav{
        width: 75%;
    }
    
    .sidebar-resize-header{
        cursor: ns-resize;
    }
}

@media all and (max-width:768px){
    .main-nav nav{
        display:none;
    }
    .page-sheet{
        .has-sidebar{
            .main-page{
                display:none;
            }
        }
    }
}

livechat{
    height:33%;
}

.palette{
    height:66%;
}

.mobile-sidebar{
    height:100%;
    livechat{
        min-height:100%;
        .message-input{
            position:relative;
            background:#e0e0e0;
        }
        
        button{
            top: 17px;
            right: 25px;
            bottom:auto;
        }
        
        textarea{
            margin: 10px;
            width: calc(100% - 120px);
        }
    }

    .mobile-buttons{
        padding: 10px 20px;
        padding-bottom: 0;
        background: #eee;
    }
}

@import "palette.scss";
