.sticky-sidebar{
    position:fixed;
    background:#f2f2f2;
    height:100%;
    top:0;
    right:0;
    bottom:0;
    z-index:1000;
    box-shadow:0 0 3px rgba(0,0,0,0.15);
}

.sidebar-header{
    background:$color_6;
    font-size:12px;
    padding:3px;
    text-align:left;
}

.sidebar-header h3{
    color:#fff;
}

@media all and (min-width:768px){
    header.in-sheet{
        width: 75%;
    }
}

@media (max-width:768px){
    .sticky-sidebar{
        display:none;
    }
}

@import "palette.scss";

