.sticky-sidebar{
    position:fixed;
    background:#f2f2f2;
    height:100%;
    top:0;
    right:0;
    bottom:0;
    z-index:1000;
    box-shadow:0 0 3px rgba(0,0,0,0.15);
}

.page-content{
    transition:width 0.3s;
    .has-no-sidebar &{
        width:100%;
    }
}

@media all and (max-width:768px){
    .page-content{
        width:100%;
    }
}

.sidebar-header{
    background:$color_6;
    font-size:12px;
    padding:3px;
    text-align:left;
}

.sidebar-header h3{
    color:#fff;
}

@media all and (min-width:768px){
    .has-sidebar header,
    .has-sidebar nav{
        width: 75%;
    }
}

@media all and (max-width:768px){
    .has-sidebar{
        .sticky-sidebar{
            width:100%;
            top:80px;
        }
        header{
            position:fixed;
            top:0;
            left:0;
            height:80px;
        }
    }
}

.sidebar-resize-header{
    cursor: ns-resize;
}

livechat{
    height:33%;
}

.palette{
    height:66%;
}

@import "palette.scss";

