.why-account{
    max-width:700px;
    margin:auto;
    font-size:120%;
    font-weight:300;
}

.auth{
    max-width:800px;
    background:#fff;
    margin:auto;
}

.auth fieldset{
    border:none;
    padding:10px 0px;
}

.auth input{
    width:100%;
}

.auth .login-block{
    padding:20px;
}

.go-to-signup{
    margin-left:30px;
}