.why-account{
    max-width:700px;
    margin:auto;
    font-size:120%;
    font-weight:300;
}

.signup-form{
    max-width:800px;
    background:#fff;
    margin:auto;
}

.signup-form fieldset{
    border:none;
    padding:10px 0px;
}

.signup-form{
    width:100%;
}

.signup-form .login-block{
    padding:20px;
}