.facebook-login.login-block
  h3
    | Login with Facebook
  p
    | You will be redirected to facebook to allow livecalc.xyz to view your public profile.
  a(href='/fb/login')
    button.fb-login
      |  Login with Facebook
