doctype html
html
  head
    meta(charset='utf-8')
    meta
    // I'm so meta
    title livecalc.xyz Collaborative Calculator 
    link(rel='stylesheet', href='/fonts/fira/fira.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Multi-user calculator for all your projects that include math, plots & problems to solve.')
    meta(property='og:image', content='http://livecalc.xyz/images/logo-square.png')
    meta(property='og:title', content='livecalc.xyz open source collaborative calculator')
    meta(property='og:description', content='Multi-user calculator for all your projects that include math, plots & problems to solve.')
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='manifest', href='manifest.json')
    link(rel='icon', href='/favicon.ico')
    link(rel='icon', href='/favicon.png')
    link(rel='shortcut icon', type='image/png', href='/favicon.png')
    link(rel='icon', sizes='192x192', href='/icon-192x192.png')
    link(rel='icon', sizes='144x144', href='/icon-144x144.png')
    link(rel='icon', sizes='128x128', href='/icon-128x128.png')
    link(rel='icon', sizes='96x96',   href='/icon-96x96.png')
    link(rel='icon', sizes='72x72',   href='/icon-72x72.png')
    link(rel='icon', sizes='48x48',   href='/icon-48x48.png')
    link(rel='icon', sizes='36x36',   href='/icon-36x36.png')
    link(rel='apple-touch-icon', href='/icon-192x192.png')
    link(rel='apple-touch-icon', sizes='192x192', href='/icon-192x192.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/icon-144x144.png')
    link(rel='apple-touch-icon', sizes='128x128', href='/icon-128x128.png')
    link(rel='apple-touch-icon', sizes='96x96', href='/icon-96x96.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/icon-72x72.png')
    link(rel='apple-touch-icon', sizes='48x48', href='/icon-48x48.png')
    link(rel='apple-touch-icon', sizes='36x36', href='/icon-36x36.png')
  body(class="page-"+(page || ""), class=in_sheet? "in-sheet": "")
    include ./header.pug
    if in_sheet
      col-md-9
        include ./page-content.pug
      col-md-3.sticky-sidebar
        include ./sidebar.pug
      clearfix
    else
      include ./page-content.pug
    include ./templates.pug

  script(src='/lib/math.min.js')
  script(src='/lib/d3.min.js')
  script(src='/lib/function-plot.js')
  script(src='/lib/socket.io.js')
  script(src='/lib/moment.min.js')
  script(src='/lib/please.min.js')
  if page != "landing"
    // ",Safe" disables \href in LaTeX, and has other
    // security features.
    script(src='/lib/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe')
  script(src='/base.js')
  script(src='/livecalc.js')
  script(src='/livechat.js')
  script(src='/main.js')
