doctype html
html
  head
    meta(charset='utf-8')
    meta
    // I'm so meta
    title livecalc.xyz Collaborative Calculator 
    link(rel='stylesheet', href='/fonts/fira/fira.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Multi-user calculator for all your projects that include math, plots & problems to solve.')
    meta(property='og:image', content='http://livecalc.xyz/images/logo-square.png')
    meta(property='og:title', content='livecalc.xyz open source collaborative calculator')
    meta(property='og:description', content='Multi-user calculator for all your projects that include math, plots & problems to solve.')
    meta(name="mobile-web-app-capable", content="yes")
    link(rel='icon', type='image/png', href='/favicon.png?v=3')
    link(rel="icon", sizes="192x192", href="/big-icon.png?v=3")
    link(rel="icon", sizes="128x128", href="/med-icon.png?v=3")
    link(rel="apple-touch-icon", href="/big-icon.png?v=2")
    link(rel="apple-touch-icon", sizes="192x192", href="/big-icon.png?v=3")
    link(rel="apple-touch-icon", sizes="128x128", href="/med-icon.png?v=3")
    link(rel="apple-touch-icon-precomposed", sizes="128x128", href="/med-icon.png?v=3")
  body(class="page-"+(page || ""), class=in_sheet? "in-sheet": "")
    include ./header.pug
    if in_sheet
      col-md-9
        include ./page-content.pug
      col-md-3.sticky-sidebar
        include ./sidebar.pug
      clearfix
    else
      include ./page-content.pug
    include ./templates.pug

  script(src='/lib/math.min.js')
  script(src='/lib/d3.min.js')
  script(src='/lib/function-plot.js')
  script(src='/lib/socket.io.js')
  script(src='/lib/moment.min.js')
  // ",Safe" disables \href in LaTeX, and has other
  // security features.
  script(src='/lib/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe')
  script(src='/main.js')
