h2 Quick Reference
col-md-6
  h3 Basics
  p
    | Type math: 
    code 13*42*(3+32)/12
    br
    |           Data is saved when you press GO/Enter
    br
    |           Copy/Paste URL to share sheet
    br
    |           Use backspace to delete an empty cell
    br
    |           Use semicolon (;) to write what you 
    |           would write on many cells:
    br
    code a = 1; b=2; sin(a+b)
    br
    |           Navigation: Tab/Shift+tab
  h3 Numbers
  p
    | You can use the electrical engineering 
    | notation with numbers (n,u,m,k/K,meg/M,G)
    br
    |           ex: 
    code 1K
    |  = 1000
    br
  h3 Functions
  p
    | You can define functions like that: 
    code f(x) = x**2
    br
    | Then you can use f(x): 
    code f(pi)
  h3 Constants
  p
    code pi
    | , 
    code e
    |  (Euler), 
    code i
    |  (sqrt(-1)), etc. 
    a(href='http://mathjs.org/docs/reference/constants.html', 
      target='_blank') mathjs constants
  h3 Plots
  p
    | You can plot an expression:
    br
    code plot("sin(x+0.5)")
    br
    code plot("e**x")
    br
    | Plot more than one function at once: 
    br
    code plot("e**x","sin(x)")
  h3 Fractals
  p
    | For 10 iterations
    | and a size of 140 pixels:
    br
    | Julia: 
    code zfractal("z**2+0.4-0.05i",10,140)
    br
    | Mandelbrot: 
    code zfractal("z**2+c",10,140)
    br
    | Cellular automaton: 
    code rule(45)
col-md-6
  h3 Math
  p
    code sin(3.14)
    br
    code sin(360deg)
    br
    code a = 30
    br
    code b = 3 * a
    br
    code b
    |  (to show the value of 'b')
    br
  h3 Conversions
  p
    code 3 meters to inches
    br
    code 3 in to cm
    br
    code 1 gal to L
    br
    code 1 L to cm^3
    br
    code 4 bytes in bits
    br
    br
  h3 Comments
  p 
    | Comments exist to let you explain what you are doing.
    br
    | Create text cells with this syntax:
    code // Comments can be used to describe what's next
    br
    | Once created, click a comment to edit it.
    br
    | Use comments at the end the line to describe 
    | what you are doing: 
    code 1+1 // Here is a simple addition
  h3 Bonus
  p
    code a=1K; b=2K; LL(a,b)
    | :
    |           equivalent value of resistors in parallel.
clearfix
