header
  col-sm-6
    img(src="/images/logo.png").header-logo
    h1.inline-block
      a(href='https://livecalc.xyz') mucalc.com
  col-sm-6.text-right.links        
    a.new-sheet-button(href='/new')
      button New Sheet
    .icon.burger-icon.inline-block
  clearfix
.main-nav
  include ./nav.pug
