header
  col-sm-8
    h1.inline-block.mobile-center
      a(href='https://livecalc.xyz') livecalc.xyz
    p.inline-block.text-left.sm-hide
      | Github 
      a(href='https://github.com/antoineMoPa/livecalc', 
     target='_blank') project
      |  |
      |  Version 
      = version
  col-sm-4.text-right.mobile-center.links        
    a.new-sheet-button(href='/new', target='_blank')
      button New Sheet
  clearfix
nav
  ul
    li
      a.pricing-link(href='/pricing', target='_blank')
        | Pricing
      
    if !logged_in
      li
        a.login(href='/login')
          | Log&nbsp;in
    
    else
      li
        a.dashboard-link(href='/dashboard')
          | Dashboard
      li
        a(href="/logout") Log&nbsp;out
