header
  col-sm-8
    img(src="/images/logo.png").header-logo
    h1.inline-block
      a(href='https://livecalc.xyz') livecalc.xyz
    p.inline-block.text-left.sm-hide
      | Github 
      a(href='https://github.com/antoineMoPa/livecalc', 
     target='_blank') project
      |  |
      |  Version 
      = version
  col-sm-4.text-right.mobile-center.links        
    a.new-sheet-button(href='/new')
      button New Sheet
    if(page == "sheet")
      .icon.burger-icon.inline-block
  clearfix
nav
  ul
    if(page != "landing")
      li
        a.pricing-link(href='/')
          | Home
    //li
      a.pricing-link(href='/pricing', target='_blank')
        | Pricing
      
    if !logged_in
      li
        a.login(href='/login')
          | Log&nbsp;in
      li
        a.signup(href='/signup')
          | Sign&nbsp;up
    
    else
      li
        a.dashboard-link(href='/dashboard')
          | Dashboard
      li
        a(href="/logout") Log&nbsp;out
