header
  col-sm-6
    a(href='/')
      img(src="/images/logo.png", alt="mucalc").header-logo
    h1.inline-block
      a(href='https://mucalc.com') mucalc.com
  col-sm-6.text-right.links        
    a.new-sheet-button(href='/new')
      button New Sheet
    .icon.burger-icon.inline-block
  clearfix
.main-nav
  include ./nav.pug
