header(class=in_sheet? "in-sheet": "")
  col-md-8
    h1.inline-block.mobile-center
      a(href='https://livecalc.xyz') livecalc.xyz
    p.inline-block.text-left.mobile-center
      | Github 
      a(href='https://github.com/antoineMoPa/livecalc', 
     target='_blank') project
      |  |
      |  Version 0.0.11
  col-md-4.text-right.mobile-center.links
    a.pricing-link(href='/pricing', target='_blank')
      | Pricing
    if !logged_in
      a.login(href='/login')
        | Log in
    else
      a.dashboard-link(href='/dashboard')
        | Dashboard
    a.new-sheet-button(href='/new', target='_blank')
      button New Sheet
