.landing.only-landing
  row
    col-md-6.col-inline-block
      h1.text-center A better way to do math
      p.text-center
        | livecalc.xyz is a collaborative calculator
        br
        br
        |  To use livecalc.xyz, create a 
        a(href='/new') new blank sheet
        br
        |  or try an 
        a(href='#example-list') example
        br
        |  Up to 3 users can edit a sheet at the same time,
        br
        |  so share the sheet URL to your friends/classmates/colleagues!
        br
        br
        |  Have fun!
        br
        br
    col-md-6.col-inline-block
        a(href="/new")
          img(src="/images/screenshot.png", 
              alt="screenshot").screenshot
        .text-center
          a(href="#example-list")
            button.screenshot-cta
              | Try an example
  clearfix  
  .examples
    h1#example-list
      | Try an example
    p
      | Click one of the launch buttons to create a new sheet with a pre-loaded example.
    br
    .examples-row
      include ./landing-examples.pug
    clearfix
  .features
    .block-center
      h3 Features
      p
        ul
          li Play with numbers
          li Plots Functions
          li Store values in variables
          li Convert units
          li Chat with your teammates
          li Completely open source
  .text-block
    h2 Use livecalc.xyz in PBL (Project Based Learning)
    p
      |  livecalc.xyz was created with PBL in mind. In a class, set up a projector with livecalc.xyz and let students access and edit the sheet. Use livecalc.xyz in small groups to encourage the sharing of ideas. Everyone who has an idea can type it right away. Lock the sheet when the problem is solved or when the class is over so that everyone can access the solution at home while studying.
    .text-center
      a(href='/new/')
        button
         | Create a new blank sheet

  .text-block
    h2 Keep track of your math while doing your homeworks
    p
      | Use livecalc.xyz instead of your calculator and keep track of the problems you solve. If there is a small change in a problem, or if you made a mistake, change the line that needs to be changed and re-calculate. If teammates need help with a problem, send them the link to the sheet. Ask them for help when you are stuck!
    .text-center
      a(href='/new/')
        button
         | Create a new blank sheet

    clearfix

  .text-block
    h2 Team work @home
    p
      |  Many times, two brains are better than one. It is even better if you don't have to go away from home (or the coffee shop?). Solve problems in team and do your math together wherever you are in the world. You can use the chat to think out the problem, you can create plots simultaneously and try solutions faster.
    .text-center
      a(href='/new/')
        button
         | Create a new blank sheet!
  .text-block
    h2 livecalc.xyz lets you have fun with fractals
    img(src='/images/julia_fractal.png', alt='Julia fractal').float-left
    p
      |  You can use complex numbers to create fractals. Simple mathematical expressions can create complex shapes & images. Results can be beautiful & fascinating. Other times, it will look like an insect.
      |  This is an image of the 
      a(target='_blank', href='https://en.wikipedia.org/wiki/Julia_set')
        | Julia set
      |  and it comes from this equation: $$z \rightarrow z^2 + (-0.8 + 0.156i)$$
    .text-center
      a(href='/new/julia')
        button
         | Play with this fractal
  
    clearfix
    

p.text-center
  | Contribute code & issues on 
  a(href='https://github.com/antoineMoPa/livecalc', target='_blank') github
