.landing.only-landing
  h1.text-center Welcome to livecalc.xyz
  p.text-center
    | livecalc.xyz is an open source collaborative calculator
    br
    br
    |           Create a 
    a(href='/new', target='_blank') new sheet
    |  to calculate stuff.  (You may also go to this public 
    a(href='/sheet/demo') playground
    | ).
    br
    |           Up to 3 users can edit a sheet at the same time.
    br
    |           Press enter to get the result and to share the line to other users.
    br
    |           Share the URL to your friends/classmates/colleagues to edit a sheet together.
    br
    br
  .features
    .block-center
      h3 Features
      p
        ul
          li All math that you would expect from a calculator
          li Function plots
          li Real-time collaboration
          li livecalc.xyz runs entirely in the browser thanks to math.js.
          li A huge community of ~1 developer/user
          // lol
  p.text-center
    | Contribute code & issues on 
    a(href='https://github.com/antoineMoPa/livecalc', target='_blank') github
    br
