.landing.only-landing
  a(href="https://github.com/antoineMoPa/livecalc.xyz", target="_blank").mobile-hide
    img(style="position: absolute; top: 53px; right: 0; border: 0;", src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
  row
    h1.text-center Shareable math in your browser
    p.text-center
      | μCalc (mucalc) is a collaborative calculator
      br
      br
      |  To use it, try a 
      a(href='#example-list') demo sheet
      br
      |  μCalc lets you plot functions & do basic calculations
      br
      |  share the sheet URL with your friends/classmates/colleagues!
      br
      br
      |  Have fun!
    p
      .text-center
        .call-to-action
          a(href="/new")
            button
              | Create a new sheet
        br.mobile-only
        span.cta-or
          |  or
        br.mobile-only
        br.mobile-only
        .call-to-action
          a(href="#example-list")
            button
              | Try an example
        
    br
    br
  .examples
    h1#example-list
      | Try an example
    p
      | Click one of the launch buttons to create a new sheet with a pre-loaded example.
    br
    .examples-row
      include ./landing-examples.pug
    clearfix
  .features
    col-md-6.text-center
      img(src='/images/logo-square.png' alt='mucalc, shareable math in your browser').features-image
    col-md-6
      h3 Features
      p
        ul
          li Completely open source
          li Play with numbers
          li Plots Functions
          li Store values in variables
          li Convert units
          li Chat with your teammates
    clearfix
  .text-block
    h2 Use μCalc as a project logbook
    p
      | Do you have math intensive team projects? Keep track of your math in mucalc.com and let everyone access the important notes, solutions and results.
    .text-center
      a(href='/new/')
        button
         | Create a new blank sheet

    clearfix

  .text-block
    h2 Use μCalc in PBL (Project Based Learning)
    p
      |  μCalc was created with PBL in mind. In a class, set up a projector with mucalc.com and let students access and edit the sheet. Use mucalc.com in small groups to encourage the sharing of ideas. Everyone who has an idea can type it right away. Lock the sheet when the problem is solved or when the class is over so that everyone can access the solution at home while studying.
    .text-center
      a(href='/new/')
        button
         | Create a new blank sheet

  .text-block
    h2 Keep track of your math while doing your homeworks
    p
      | Use μCalc instead of your calculator (or along with it) and keep track of the problems you solve. If there is a small change in a problem, or if you made a mistake, change what needs to be changed and re-calculate. Erase less and save paper. If teammates need help with a problem, send them the link to the sheet. Ask them for help when you are stuck!
    .text-center
      a(href='/new/')
        button
         | Create a new blank sheet

    clearfix

  .text-block
    h2 Team work @home
    p
      |  Many times, two brains are better than one. It is even better if you don't have to go away from home (or the coffee shop?). Solve problems in team and do your math together wherever you are in the world. You can use the chat to think out the problem, you can create plots simultaneously and try solutions faster.
    .text-center
      a(href='/new/')
        button
         | Create a new blank sheet!
  .text-block
    h2  lets you have fun with fractals
    img(src='/images/julia_fractal.png', alt='Julia fractal').float-left
    p
      |  You can use complex numbers to create fractals. Simple mathematical expressions can create complex shapes & images. Results can be beautiful & fascinating. Other times, it will look like an insect.
      |  This is an image of the 
      a(target='_blank', href='https://en.wikipedia.org/wiki/Julia_set')
        | Julia set
      | .
    .text-center
      a(href='/new/julia')
        button
         | Play with this fractal
  
    clearfix
    

