.landing.only-landing
  h1.text-center Solve problems together!
  p.text-center
    | livecalc.xyz is a collaborative calculator
    br
    br
    |           Create a 
    a(href='/new', target='_blank') new sheet
    |  to calculate stuff.  (You may also go to this public 
    a(href='/sheet/demo') playground
    | ).
    br
    |           Up to 3 users can edit a sheet at the same time.
    br
    |           Share the URL to your friends/classmates/colleagues!
    br
    br
  .features
    .block-center
      h3 Features
      p
        ul
          li All math that you would expect from a calculator
          li Function plots
          li Variables
          li Conversions
          li Fractal generation
          li Completely open source
p.text-center
  | Contribute code & issues on 
  a(href='https://github.com/antoineMoPa/livecalc', target='_blank') github
