.landing.only-landing
  h1.text-center Solve problems together
  p.text-center
    | livecalc.xyz is a collaborative calculator
    br
    br
    |  To use livecalc.xyz, create a 
    a(href='/new', target='_blank') new sheet
    br
    |  Up to 3 users can edit a sheet at the same time,
    br
    |  so share the sheet URL to your friends/classmates/colleagues!
    br
    br
    |  Have fun!
    br
    br
  .features
    .block-center
      h3 Features
      p
        ul
          li Do all math that you would do in a calculator
          li Plots Functions
          li Store values in variables
          li Convert units
          li Generate fractals with complex numbers
          li Chat with your teammates
          li Completely open source
p.text-center
  | Contribute code & issues on 
  a(href='https://github.com/antoineMoPa/livecalc', target='_blank') github
