.landing.only-landing
  row
    col-md-6.col-inline-block
      h1.text-center A better way to do math
      p.text-center
        | livecalc.xyz is a collaborative calculator
        br
        br
        |  To use livecalc.xyz, create a 
        a(href='/new', target='_blank') new blank sheet
        br
        |  or try an 
        a(href='#example-list') example
        br
        |  Up to 3 users can edit a sheet at the same time,
        br
        |  so share the sheet URL to your friends/classmates/colleagues!
        br
        br
        |  Have fun!
        br
        br
    col-md-6.col-inline-block
        a(href="/new")
          img(src="/images/screenshot.png", 
              alt="screenshot").screenshot
        .text-center
          a(href="#example-list")
            button.screenshot-cta
              | Try an example
  clearfix  
  .examples
    h1#example-list
      | Try an example
    p
      | Click one of the launch buttons to create a new sheet with a pre-loaded example.
    br
    .examples-row
      include ./landing-examples.pug
    clearfix
  .features
    .block-center
      h3 Features
      p
        ul
          li Play with numbers
            ul
              li a+b, a-b (addition, substraction)
              li a*b, a/b (multiplication, division)
              li a^b (exponent)
              li sqrt(a) (square root)
              li sin(x), cos(x), tan(x) (trigonometric functions in rad)
              li sin(45 deg) (same, in degree)
              li n! (factorial)
              li For the complete syntax documentation, see 
                 a(
                   href="http://mathjs.org/docs/expressions/syntax.html", 
                   target="_blank"
                 ) here
          li Plots Functions
          li Store values in variables
          li Convert units
          li Generate fractals with complex numbers
          li Chat with your teammates
          li Completely open source


p.text-center
  | Contribute code & issues on 
  a(href='https://github.com/antoineMoPa/livecalc', target='_blank') github
