col-md-4
 .example
   h3 Area of a circle
   p This is a small example demonstrating basic calculations and use of variables
   .text-center
     a(href='/new/circle-area', target="_blank")
       button
        | Launch example
col-md-4
 .example
   h3 Plot sin(x)
   p This example shows how to convert angles and plot functions
   .text-center
     a(href='/new/sin-x', target="_blank")
       button
        | Launch example

col-md-4
 .example
   h3 Convert, round & plot
   p This example shows how to convert units and how to round values. We also see that we can use round() in plots.
   
   .text-center
     a(href='/new/convert-round', target="_blank")
       button
        | Launch example
