.landing.only-landing
  h1.text-center Solve problems together
  p.text-center
    | livecalc.xyz is a collaborative calculator
    br
    br
    |  To use livecalc.xyz, create a 
    a(href='/new', target='_blank') new sheet
    br
    |  Up to 3 users can edit a sheet at the same time,
    br
    |  so share the sheet URL to your friends/classmates/colleagues!
    br
    br
    |  Have fun!
    br
    br
  .features
    .block-center
      h3 Features
      p
        ul
          li Play with numbers
            ul
              li a+b, a-b (addition, substraction)
              li a*b, a/b (multiplication, division)
              li a^b (exponent)
              li sqrt(a) (square root)
              li sin(x), cos(x), tan(x) (trigonometric functions in rad)
              li sin(45 deg) (same, in degree)
              li n! (factorial)
              li For the complete syntax documentation, see 
                 a(
                   href="http://mathjs.org/docs/expressions/syntax.html", 
                   target="_blank"
                 ) here
          li Plots Functions
          li Store values in variables
          li Convert units
          li Generate fractals with complex numbers
          li Chat with your teammates
          li Completely open source
p.text-center
  | Contribute code & issues on 
  a(href='https://github.com/antoineMoPa/livecalc', target='_blank') github
