.example-wrapper
 .example
   h3 Area of a circle
   p This small example shows how to do basic calculations and how to use variables.
   .text-center.button-container
     a(href='/new/circle-area')
       button
        | Launch example
.example-wrapper
 .example
   h3 Plot sin(x)
   p This example shows how to convert angles and how to plot functions.
   .text-center.button-container
     a(href='/new/sin-x')
       button
        | Launch example

.example-wrapper
 .example
   h3 Convert, round & plot
   p This example shows how to convert units and how to round values. We also see that we can use round() in plots.
   
   .text-center.button-container
     a(href='/new/convert-round')
       button
        | Launch example
