template(name='livecalc')
  .livecalc
    .livecalc-header-container
    .livecalc-cells
    .sheet-panel-container
    .small-doc-container
template(name='sheet-panel')
  .sheet-panel.panel
    h3 Sheet Settings
    col-md-3
      | Change title
      br
      input(name='sheet-title')
      button(name='change-title')
        | Change title
    col-md-3.panel-lock-sheet
      | Lock sheet from further editing
      br
      button(name='lock-sheet')
        | Lock Sheet
    col-md-3
      | Open a copy
      br
      button(name='new-copy')
        | New Copy
    col-md-3
      | View as JSON
      br
      button(name='view-json')
        | View JSON
    clearfix

    clearfix
    br
    h3 Stats
    p
      span.visit-count
        |  0
      | visits.
template(name='plot-interact-button')
  .text-center
    button.plot-interact
      |  Interact with this plot
template(name='fullscreen')
  .fullscreen
    .fullscreen-header
      col-sm-6
        h3.fullscreen-title
      col-sm-6
        .text-right
          button.close-button
            |  Close
      clearfix
    .content
template(name='livecalc-cell')
  .cell-and-button-wrapper
    .add-cell-button
      p.text-center.inner
        | +
    .livecalc-cell
      .delete-cell-button.icon.delete-icon
      .text-part
      .math-part
        fieldset
          div
            input.inline-block.livecalc-input(
              type='text', 
              placeholder='Type math')
            button.inline-block.livecalc-go-button
              | Go
        label Your input (Pretty print)
        .mathjax-input
        col-md-6
          label Result (Pretty print)
          .mathjax-output
        col-md-6
          label Result (Raw ouput)
          pre.livecalc-output
          pre.livecalc-secondary-output
        clearfix
        col-sm-6
          p.cell-state.text-left
        col-sm-6
          p.users-info.text-right
        clearfix
        .plot
