.main-page
  if positive_message
    .server-message.positive
      p
        = message
  if negative_message
    .server-message.negative
      p
        = message

  if page != undefined
    .static
      if page == "landing"
        include ./landing.pug
      else if page == "pricing"
        .pricing
          include ./pricing.pug
      else if page == "signup"
        .signup
          include ./account/signup.pug
      else if page == "account"
        .account
          include ./account/account.pug
      else if page == "login"
        .login
          include ./account/login.pug
      else if page == "challenge"
        include ./challenge.pug
      else if page == "dashboard"
        .dashboard
          include ./account/dashboard.pug
      else if page == "sheet"
        .sheet-meta
          col-md-6
            p To get started: 
              a(href="#quick-reference")
                |  Quick Reference
          col-md-6
            p.text-right.livecalc-sharing
                | Share this sheet: 
                a(target="_blank", href="https://www.facebook.com/sharer/sharer.php?u=" + share_url)
                  | facebook
                a(target="_blank", href=("https://twitter.com/intent/tweet?text=View%20this%20livecalc.xyz%20sheet:%20" + share_url))
                  | twitter 
                a(target="_blank",href=share_url).url-popup-modal
                  | URL
          clearfix
        livecalc
          .text-center.loading-text
            |  Loading...
      else
        p
          | Content not found
  br
  p.text-center
    |  Version 
    = version
  p.text-center
    |  Follow 
    a(href='https://twitter.com/mucalc', target='_blank')
      | @mucalc
    |  on twitter
  p.text-center
    | Licence: 
    a(href='https://www.gnu.org/licenses/agpl-3.0.html',
      target='_blank')
      | AGPLv3
  br
