.palette-numbers
  h4 Numbers
  button(title='7') 7
  button(title='8') 8
  button(title='9') 9
  br
  button(title='4') 4
  button(title='5') 5
  button(title='6') 6
  br
  button(title='1') 1
  button(title='2') 2
  button(title='3') 3
  br
  button(title='0') 0
  button(title='.') .
  button(title='go', action='go') go

