.palette-greek-letters
  h4 Greek Letters
  button(title='alpha') Α
  button(title='alpha') α
  button(title='beta') Β
  button(title='beta') β
  button(title='gamma') Γ
  button(title='gamma') γ
  button(title='delta') Δ
  button(title='delta') δ
  button(title='epsilon') Ε
  button(title='epsilon') ε
  button(title='zeta') Ζ
  button(title='zeta') ζ
  button(title='eta') Η
  button(title='eta') η
  button(title='theta') Θ
  button(title='theta') θ
  button(title='iota') Ι
  button(title='iota') ι
  button(title='kappa') Κ
  button(title='kappa') κ
  button(title='lambda') Λ
  button(title='lambda') λ
  button(title='mu') Μ
  button(title='mu') μ
  button(title='nu') Ν
  button(title='nu') ν
  button(title='xi') Ξ
  button(title='xi') ξ
  button(title='omicron') Ο
  button(title='omicron') ο
  button(title='pi') Π
  button(title='pi') π
  button(title='rho') Ρ
  button(title='rho') ρ
  button(title='sigma') Σ
  button(title='sigma') σ/ς
  button(title='tau') Τ
  button(title='tau') τ
  button(title='upsilon') Υ
  button(title='upsilon') υ
  button(title='phi') Φ
  button(title='phi') φ
  button(title='chi') Χ
  button(title='chi') χ
  button(title='psi') Ψ
  button(title='psi') ψ
  button(title='omega') Ω
  button(title='omega') ω
