.palette-trigonometry
  h4 Trigonometry
  p In degree
  button(data-replace-var="x") sin(x deg)
  button(data-replace-var="x") cos(x deg)
  button(data-replace-var="x") tan(x deg)
  p In radian
  button(data-replace-var="x") sin(x)
  button(data-replace-var="x") cos(x)
  button(data-replace-var="x") tan(x)

  p Inverse trigonometric functions
  
  button(data-replace-var="x") asin(x)
  button(data-replace-var="x") acos(x)
  button(data-replace-var="x") atan(x)
