.palette-trigonometry
  h4 Trigonometry
  p In degree
  button(sin(x deg)) sin(x deg)
  button(cos(x deg)) cos(x deg)
  button(tan(x deg)) tan(x deg)
  p In radian
  button(sin(x)) sin(x)
  button(cos(x)) cos(x)
  button(tan(x)) tan(x)

  p Inverse trigonometric functions
  
  button(asin(x)) asin(x)
  button(acos(x)) acos(x)
  button(atan(x)) atan(x)
