.text-center
  h1
    |  Pricing
  p 
    |  Registered, Premium and Teacher Premium accounts are not yet available, but here is what we plan to offer*:
  p
    |  *The features may change, livecalc.xyz is still in heavy development.
  p
    |  If you are interested in trying these future premium accounts, sign up below!
  p.smaller
    |  (Hurry up! Our first clients will receive a couple of free premium months!)
  br
.text-center
  table.pricing-table
    tr
      th
        
      th
        |  Free
      th
        |  Free Registered*
        br
        span.coming-soon *Coming soon
      th
        |  Premium*
        br
        span.coming-soon *Coming soon
      th
        |  Teacher Premium*
        br
        span.coming-soon *Coming soon
    tr
      td.col-feature
        | Create public math 
        br
        | sheets
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
    tr
      td.col-feature
        | Use chat
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
    tr
      td.col-feature
        | Plot functions
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
    tr
      td.col-feature
        | Lock sheets
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
    tr
      td.col-feature
        | Unlock sheets
      td
        | no
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
    tr
      td.col-feature
        | Import student accounts
      td
        | no
      td
        | no
      td
        | no
      td.yes
        | yes
    tr
      td.col-feature
        | Online users / sheet
      td
        | up to 3
      td
        | up to 5
      td
        | up to 8
      td
        | up to 32
    tr
      td.col-feature
        | Active sheet / user
      td
        | 2
      td
        | 4
      td
        | 8
      td
        | 4 / student
        br
        span.smaller 8 for you
    tr
      td.col-feature
        | Facebook notifications
      td
        | no
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
    tr
      td.col-feature
        | Email notifications
      td
        | no
      td.yes
        | yes
      td.yes 
        | yes
      td.yes 
        | yes
    tr
      td.col-feature
        | Visited sheet list
      td
        | no
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
    tr
      td.col-feature
        | Create public templates
      td
        | no
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
    tr
      td.col-feature
        | Upload images
      td
        | no
      td.yes
        | yes
      td.yes
        | yes
      td.yes
        | yes
    tr
      td.col-feature
        | Private sheets
      td
        | none
      td
        | 5
      td.yes
        | unlimited
      td.yes
        | unlimited
    tr
      td.col-feature
        | Price
      td
        | Free
      td
        | Free
      td
        span.bigger.strong $3
        | /month
      td
        span.bigger.strong $12
        | /month
    tr
      td.col-feature
        | 
      td
        a(href="/new") 
          button
            | Create a new sheet!
      td.receive-alert(colspan=3)
        | Receive email
        | alerts when these become available:
        br
        br
        form(action="/marketing/newsletter_signup", method="post")
          input(type="email", name="email", placeholder="email@email.com")
          button(type="submit" value="submit")
            | Sign up
