.palette
  .sidebar-header.text-center
    h3
      | Palette
  .content
    include ./palette-numbers.pug
    include ./palette-trigonometry.pug
    include ./palette-greek-letters.pug
    .palette-bottom-spacer
livechat
