h1.text-center Create your account

.why-account
  ul
    li Keep track of your sheets,  lock and unlock them
    li Store up to 5 private sheets
    li Invite up to 5 people in a sheet at the same time

.auth.signup-form
  col-md-6
    .basic-auth.login-block
      form(action="/signup", method="post")
        fieldset
          label User name (6-40 letters and numbers)
          br
          input(type="text", pattern="^[AZa-z0-9]{6-40}$", name="username", placeholder="JohnSmith")
        fieldset 
          label Your email address
          br
          input(type="email", name="email", placeholder="email@email.com")
        fieldset
          label Create a password (Minimum 6 characters)
          br
          input(type="password", name="password", pattern="^.{6,}$", placeholder="Password")
        br
        .text-center
          button(type="submit" value="submit")
            | Create my account
  col-md-6
    .facebook-login.login-block
      //h3
      //  | Login with Facebook
      //p Not yet
