template(name='livecalc-die')
  h3 Create a new sheet
  a(href='/new')
    button Create a new sheet
  h3 Go to homepage
  a(href='/')
    button Homepage
template(name='livechat')
  .sidebar-header.sidebar-resize-header.text-center
    h3
      | Chat
  .message-log
  .message-input
    textarea(placeholder='Join the conversation')
    button
      | Send
template(name='livechat-message')
  .livechat-message-wrapper
    .livechat-message
      .content
      .sender
    .date
template(name='small-doc')
  .doc
    include ./doc.pug
template(name='single-field', data-params='class,default,info')
  .single-field(class='{{class}}')
    p {{info}}
    input(value='{{default}}')
    button Confirm
template(name='livecalc-wait-click')
  .livecalc-wait-click
    button.livecalc-wait-click-button View
    p This might take some time to compute.
template(name='modal-overlay')
  .modal-overlay
template(name='modal-inform')
  .modal
    .content
      p
    .buttons
include ./livecalc-templates.pug
