/* general stuff that should be everywhere */
.text-right{
    text-align:right;
}

.text-left{
    text-align:left;
}

/* page-related stuff */
body{
    background:#f8f8f8;
    font-family: sans-serif;
}

h1{
    font-size:20px;
    font-weight:300;
}

/* eecalc stuff */

.inline-block{
    display:inline-block;
    vertical-align:top;
}

.eecalc-cell{
    background:#eee;
    box-shadow:0 0 2px #bbb;
    padding-bottom:5px;
    margin-bottom:10px;
}

.eecalc fieldset{
    border:none;
}

.eecalc .eecalc-output{
    margin-top:5px;
    margin-left:10px;
    margin-bottom:10px;
    margin-right:10px;
    min-height:40px;
    background:#fff;
    font-size:40px;
    padding:5px;
    padding-left:20px;
}

.eecalc input{
    width: 100%;
    width: calc(100% - 150px);
    font-size:40px;
    margin-bottom:5px;
}

.eecalc-go-button{
    height:50px;
    margin:0;
    margin-left:10px;
    width:100px;
}