template(name="mathjs-cell-type")
  .math-part
    col-md-6
      fieldset
        div
          textarea.inline-block.livecalc-input.livecalc-focus-element(
            rows='1',
            type='text', 
            placeholder='1+1')
          button.inline-block.livecalc-go-button
            | Go
      label.a-detail Your input (Pretty print)
      .katex-input.a-detail
    col-md-6
      label.a-detail Result (Pretty print)
      .katex-output
    col-md-6.a-detail.show-on-error
      label.a-detail Result (Raw ouput)
      pre.livecalc-output
      pre.livecalc-secondary-output
    clearfix
    col-sm-6
      p.cell-state.text-left
    col-sm-6
      p.users-info.text-right
      p.toggle-detail.text-right
        | Show more details
    clearfix
    .plot
