template(name='text-cell-type')
  .text-cell-type
    .tct-editor
      textarea
      .text-right
        button.livecalc-go-button(name='tct-go')
          |  Go
    label Output (edit above)
    p.live-output
    input.inline-block.livecalc-input(
      type='hidden')
    col-sm-6
      p.cell-state.text-left
    col-sm-6
      p.users-info.text-right
