template(name='text-cell-type')
  .text-cell-type
    .tct-editor
      textarea.livecalc-focus-element
      .text-right
        button.livecalc-go-button(name='tct-go')
          |  Go
    col-sm-6
      p.cell-state.text-left
    col-sm-6
      p.users-info.text-right
    br
    input.inline-block.livecalc-input(
      type='hidden')
